<div id="ournaropa_planner_courses" class="index container">
  
  <div class="row remove-margins">
    <div class="valign-wrapper">
      
      <%= render "search_form" %>
      
    </div>
  </div>

</div>